<h1>New Sub</h1>

<form action="<%= subs_url %>" method="post">
  
 <%= render "form" %>
 
 <input type="hidden" name="sub[moderator_id]" value="<%= @user.id %>">
 
 <input type="submit">
  
</form>
  
  