<input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

<label>User Name
  <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
</label>
<br>

<label>Password
  <input type="password" name="user[password]">
</label>
<br>

<input type="submit">