<input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  
<label>Title
  <input type="text" name="post[title]" value="<%= @post.title %>"> 
</label>
<br><br>

<label>URL
  <input type="text" name="post[url]" value="<% @post.url %>"><br><br>

<label>Content
  <textarea name="post[content]" value="<%= @post.content %>">
  </textarea>
</label>
<br>
